// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Paths
$font-root: '../fonts/';
$image-root: '../images/';

// Typography
$base-font-size: 15px;
$base-font: 'playfair_displayregular';
$primary-font: 'latolight';
$secondary-font: 'latoregular';
$bold-font: 'latobold';
$cursive-font: 'Zapfino Forte LT';


// Colors
$base-color: #848385;
$dark-color: #424143;
$pink: #eca3a3;
$dirtywhite-bg: #fffcf9;
$white: #fff;
$black: #000;
